<div class="p-fluid p-formgrid p-grid" >
    <div class="p-field p-col-4 p-md-4 " >
        <p-card header="Professor"  [style]="{width: '460px'}" styleClass="p-card-shadow" >
            <ng-template pTemplate="header" style="background-color: lavender">
                <img alt="Card" src="https://media.istockphoto.com/photos/multicolored-school-supplies-on-violet-background-with-copy-space-picture-id1158570521?k=6&m=1158570521&s=612x612&w=0&h=mbcEXpk3LbFLy_J1H6yDSyDvAR5tUFAgLDl1QLD0_yA=">
            </ng-template>
            <p>Hello!! {{this.serviceUser.prof.nom}} you can add A student </p>
            <ng-template pTemplate="footer">

                <button pButton pRipple type="button" label="Add Student" class="p-button-help" (click)="openCreateEtud()"></button>

            </ng-template>
        </p-card>
    </div>


    <div class="p-field p-col-4 p-md-4" >
        <p-card  [style]="{'width': '35rem', 'margin-bottom': '2em','height' : '450px','backgroundColor':'lavender'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://image.freepik.com/vecteurs-libre/organigramme-isometrique-education-ligne-livres-personnages-humains-appareils-informatiques-violet_1284-31780.jpg" [style]="{'height': '15rem'}">
            </ng-template>
            <ul style=" background-color: lavender ">
                <li style=" background-color: lavender ">

                        <span style="color: darkslateblue; background-color: lavender " >CURRENT PAY </span>
                        <h4 style="  background-color: lavender;" >{{this.selectedsalaryVo.montantMensuel}} $</h4>

                </li>
                <li>
                    <i class="pi pi-chevron-circle-down"></i> <span style="color: darkslateblue">Workload </span>

                    <h4 >30 lessons</h4>
                </li>
                <li>

                    <span style="color: darkslateblue" >PREMIEUM STUDENTS</span>
                    <h4 >{{this.items.length}} STUDENTS</h4>

                </li>


            </ul>
        </p-card>
    </div>
    <div class="p-field p-col-6 p-md-4" >
        <p-card header="What's News" [style]="{'width': '35rem', 'margin-bottom': '2em','height' : '450px','backgroundColor':'lavender'}">

            <ul>
                <li style="height: 60px;color: black">
                    <span >04 Oct:</span>
                    <a routerLink="/pages/news-admin" style="margin-left: 30px;color: darkslateblue">Happy Teachers Day 2019</a>
                </li>
                <li  style="height: 60px;color: black">
                    <span >31 Juil:</span>
                    <a routerLink="/pages/news-admin" style="margin-left: 30px;color: darkslateblue">Summer 2019 Champions</a>
                </li>
                <li  style="height: 60px;color: black">
                    <span >11 juin:</span>
                    <a routerLink="/pages/news-admin" style="margin-left: 30px;color: darkslateblue">Webinars for Teacher</a>
                </li>
                <li  style="height: 60px;color: black">
                    <span >31 May:</span>
                    <a routerLink="/pages/news-admin" style="margin-left: 30px;color: darkslateblue">Summer plan 2019</a>
                </li>
                <li  style="height: 60px;color: black">
                    <span >18 April</span>
                    <a routerLink="/pages/news-admin" style="margin-left: 30px;color: darkslateblue">May Lifehack</a>

                </li>

            </ul>


        </p-card>
        <app-ajout-etudiant></app-ajout-etudiant>

    </div>
</div>

