<html>
<head>

</head>
<body>
<div class="p-fluid p-formgrid p-grid" style="margin-left: 100px">
    <div class="p-field p-col-6 p-md-5 " style="width: 800px">
    <div class=" card" style="width: 800px; colo">
        <p-panel >
            <div class="card-header">
                <h5>NEAREST LESSON</h5>
                <p style="margin-left: 600px"><a href="#"style="color: green" >SCHEDULE</a></p>
            </div>
            <div class="p-fluid p-formgrid p-grid" style="height: 167px">
                <div class="p-field p-col-4 p-md-2"  >
                    <img src="https://png.pngtree.com/element_pic/00/16/08/2657c01bddd9754.jpg" alt="roma-layout" style="height: 150px"></div>
                <div class="p-field p-col-4 " style="margin-top: 20px ;margin-left: 25px">
                    <p >Skupe: klubochek87</p>
                    <p> Balance: 6</p>
                </div>

                <div class="p-field p-col-4 p-md-4" style="margin-left: 97px;margin-top: 20px;height: 100px" >
                    <h5 style="margin-left: 100px">Tue , 16:00</h5>
                    <p style="margin-top: 20px" > Pre-intermediate for Teens</p>
                    <button pButton pRipple type="button" label="Entrer Lesson" style="margin-top: 10px;;width: 200px ;background-color: green"></button>
                </div>
            </div>
        </p-panel></div>
        <div class="card" style="margin-top: 20px " style="width: 800px" >
            <p-panel  >
                <div class="card-header">
                    <h5>Recommande New Teacher</h5>
                    <i class="pi pi-chevron-circle-down" style="font-size: 24px;margin-left: 400px;margin-bottom: 10px;color: green"></i><p style="color: green">How it's work</p>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-3 p-md-3" style="height: 30px">
                        <img src="https://png.pngtree.com/element_pic/00/16/08/2657c01bddd9754.jpg" alt="roma-layout" style="height: 130px"></div>
                    <div class="p-field p-col-3 p-md-3" style="margin-top:25px">
                        <h2>2500-3750 rub</h2>
                        <div>reward for each teacher</div>
                    </div>
                    <div class="p-field p-col-6 p-md-6">
            <span class="p-float-label">
    <input id="float-input" type="text" pInputText >
    <label for="float-input">Name</label>
</span>
                        <div style="margin-top: 12px"><p-inputNumber inputId="integeronly" >
                        </p-inputNumber></div>

                        <div style="margin-top: 20px">
                            <button  pButton pRipple label="Send Teacher's Contact" class="p-button-outlined" style="color: green"></button>
                        </div>

                    </div>

                </div>
            </p-panel>
        </div>

        <div class="p-field p-col-7 p-md-8 " style="margin-top: 40px;width: 1090px">
        <div class="card " >
            <p-panel >
                <div class="card-header">
                    <h5>what's New</h5>
                </div>

                <div class="timeline card card-w-title">
                    <ul>
                        <li style="height: 60px;color: black">
                            <span >04 Oct:</span>
                            <a href="https://www.w3schools.com" style="margin-left: 30px;color: green">Happy Teachers Day 2019</a>
                        </li>
                        <li  style="height: 60px;color: black">
                            <span >31 Juil:</span>
                            <a href="https://www.w3schools.com" style="margin-left: 30px;color: green">Summer 2019 Champions</a>
                        </li>
                        <li  style="height: 60px;color: black">
                            <span >11 juin:</span>
                            <a href="https://www.w3schools.com" style="margin-left: 30px;color: green">Webinars for Teacher</a>
                        </li>
                        <li  style="height: 60px;color: black">
                            <span >31 May:</span>
                            <a href="https://www.w3schools.com" style="margin-left: 30px;color: green">Summer plan 2019</a>
                        </li>
                        <li  style="height: 60px;color: black">
                            <span >18 April</span>
                            <a href="www.w3schools.com" style="margin-left: 30px;color: green">May Lifehack</a>

                        </li>

                    </ul>
                </div>
            </p-panel>
        </div></div>
    </div>

    <div class="p-field p-col-6 p-md-4" style="width:   300px;height: 90px">
        <div class="timeline card card-w-title" >
            <ul>
                <li>
                    <span style="color: green" >CURRENT PAY </span>
                    <h4 >	11000 rub</h4>
                </li>
                <li>
                    <i class="pi pi-chevron-circle-down"></i> <span style="color: green">Workload </span>

                    <h4 >30 lessons</h4>
                </li>
                <li>
                    <span style="color: green" >PREMIEUM STUDENTS</span>
                    <h4 >12 STUDENTS</h4>
                </li>
                <li>
                    <i class="pi pi-users"></i> <span style="color: green">Class avarage</span>
                    <h4 > 1.4 lessons par month</h4>
                </li>
                <li>
                    <i class="pi pi-star"></i>   <span >Top Teacher List</span>
                    <h4 >112 your place</h4>

                </li>
            </ul>
        </div>

    </div>


</div>
</body>
</html>
