.container {
  display: flex;
  justify-content: center;
  flex-direction: row;

}
.buttonAdd{
  float: right;
  position: page;
  bottom: 0px;
  right: 100px;
}
#quizTitre{
  font-size: 55px;
  font-family: Algerian, serif;

  color: white ;

}
.reponseLib{
  text-align: center;
  margin: auto;
  font-family: "Chaparral Pro", serif;
  font-weight: bold;
  font-size: 20px;

}
#titleQuiz{
  background-color:  lavender;
  color: #7f32da;
  text-align: center;
  margin: auto;
  font-family: "Chaparral Pro", serif;
  font-weight: bold;
  font-size: 70px;
  border: none;

}
::placeholder{
  color: #8977f0;
}
#refQuiz{
  background-color: lavender;
  color:#7f32da;
  font-size: 15px;

}
