<meta name="referrer" content="no-referrer">


<p-card [style]="{width: '900px'}" styleClass="p-card-shadow" class="container" id="start">
    <ng-template pTemplate="header">
        <div class="card" style="background-color: gainsboro">
            <h1  style="text-align: center" class="quizTitre">VOCABULARY</h1>
        </div>
        <div class="start">
            <p class="styleOfp" id="welcome">Welcome</p><br>
            <p class="styleOfp">In the Vocabulary quiz</p><br>
            <p class="styleOfp">You have 1 hour</p><br>
            <p class="styleOfp">Good luck</p><br>

            <button pButton pRipple class="p-button-rounded p-mr-2 container" id="btn-start" label="Start" (click)="start()"></button>
        </div>
    </ng-template>

</p-card>
<p-card  [style]="{width: '900px'}" styleClass="p-card-shadow" id="vocabulary" class="container">

    <ng-template pTemplate="header">
        <div class="card" style="background-color: gainsboro">
            <h1  style="text-align: center" class="quizTitre">VOCABULARY</h1>
            <span class="m-auto float-left  dispalyTime" style="color: #2e2e33">Time : {{displayTime()}}</span>
            <div class="p-col-2 dispalyTime" style="float: right" >
              <span style="margin: auto; color: #2e2e33" >{{this.items[qnprogress].numero}}/{{this.service.nombreVocab}}</span>
                <p-progressBar  [value]="this.items[qnprogress].numero*100/this.service.nombreVocab" id="progressBar" ></p-progressBar>

            </div>
        </div>
    </ng-template>

    <div>
        <div class="p-grid">
            <span class="p-card-title p-col-1" style="font-family: Palatino Linotype, serif; margin-left: 5px">{{items[qnprogress]?.numero}} - </span>
        </div>
        <div>
            <img src="{{items[qnprogress]?.image}}"  alt="image" id="image" style="width: 300px; height: 300px" />
        </div>
        <br/><br/>
                <div class="p-formgroup-inline container" >
                    <div class="p-field ">
            <h5 style="text-align: center" #word>{{items[qnprogress]?.word}}</h5>
            </div>
           <div >
               <i class="pi pi-volume-up" style="font-size: 1.5rem; cursor: pointer" (click)="sound(items[qnprogress].word)"></i>
           </div>
                </div>

        <br/>
        <div  class="p-grid">
        <div  class="p-col">  <input pInputText type="text" name="word" #trsword style="  margin-left: 360px" class="container" [(ngModel)]="result">
        </div>
        <div  class="p-col">
        <button pRipple pButton class="p-button-rounded p-button-raised" label="Flip"  (click)="flip(trsword.value,items[qnprogress].result)"></button>
        <button pRipple pButton class="p-button-rounded p-button-raised" id="filpAnyway" label="Flip anyway" style="  margin-left: 5px" (click)="flipAnyway()"></button>
        </div></div>
        <p style="color: red;margin-left: 360px" id="incorrect">The word is incorrect</p>
        <p style="color: #0e9f59; margin-left: 360px" id="correct">That's correct!</p>
            <i class="pi pi-volume-up" style="font-size:2px"></i>
<div class="p-card" id="translated">
        <p-panel  >
            <p><span class="styleH">Translated word :</span> {{items[qnprogress]?.result}}</p><br/>
            <p><span class="styleH">Explanation : </span> {{items[qnprogress]?.explication}}</p><br/>
            <p><span class="styleH">Example :</span> {{items[qnprogress]?.exemple}}</p><br/>
        </p-panel>
    </div></div>
    <ng-template pTemplate="footer" style="float: left" class="displayTime">
        <p-button label="{{this.button}}"  class="p-button-rounded p-button-raised " style="  margin-left: 715px;" (click)="next()" ngDefaultControl></p-button>
    </ng-template>
</p-card>

<p-card  [style]="{width: '900px'}" styleClass="p-card-shadow" id="mainCard" class="container">
    <ng-template pTemplate="header">
        <div class="card" style="background-color: gainsboro">
            <h2 id="quizGrammar" style=" text-align: center" class="quizTitre" >VOCABULARY</h2>
        </div>
    </ng-template>
    <p class="styleOfp">You finish this quiz</p><br>
    <p class="styleOfp" id="congrats">Congratulations</p><br>
    <p class="styleOfp" id="nextTime">Hard-luck next time</p><br>
    <p class="styleOfp">Your result is = {{this.note}}/{{this.service.nombreVocab}}</p><br>
</p-card>
