<p-dialog [(visible)]="viewDialog" [style]="{width: '450px'}" header="Etudiant Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="nom">LastName</label>
            <input type="text" pInputText id="nom" [(ngModel)]="selected.nom" disabled />
        </div>
        <div class="p-field">
            <label for="prenom">FirstName</label>
            <input type="text" pInputText id="prenom" [(ngModel)]="selected.prenom" disabled />
        </div>
        <div class="p-field">
            <label for="login">Username</label>
            <input type="text" pInputText id="login" [(ngModel)]="selected.login" disabled />
        </div>
        <div class="p-field">
            <label for="parcours">Parcours</label>
            <input type="text" pInputText id="parcours" [(ngModel)]="selected.parcours.libelle" disabled />
        </div>
        <div class="p-field">
            <label for="prof">Prof</label>
            <input type="text" pInputText id="prof" [(ngModel)]="selected.prof.nom" disabled />
        </div>





    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
