#container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#mainCard{
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;

}
.styleOfp{
  font-family: Palatino Linotype,serif;
  font-size: 20px;
}
#quizTitre{
  font-size: 55px;
  font-family: Algerian, serif;

  color: #5299D7 ;
}