 #container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#mainCard{
  visibility: hidden;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;

}
 .container {
   display: flex;
   justify-content: center;
   flex-direction: row;

 }
.styleOfp{
  font-family: Palatino Linotype,serif;
  font-size: 20px;
  text-align: center;
}
.quizTitre{
  text-align: center;
  font-size: 40px;
  font-family: Algerian, serif;
  color:#2e2e33;
}
 .question_answer{
   position: relative;
   margin-bottom: 10px;
   display: block;
   padding: 8px 15px;
   background-color:#2e2e33;
   color: white;
   border-radius: 15px;
   transition: all 0.3s ease-out;
   width: 300px;
   height: 40px;
   margin-left: 300px;
   margin-top: 40px;
   text-align: center;
 }

 .question_answer > p-radioButton{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   cursor: pointer;
   opacity: 1;
 }
 #backPage{
   visibility: hidden;
   margin-left: 100px;
 }
 #question{
   visibility: hidden;
 }
#btn-start{
  display: flex;
  justify-content: center;
  flex-direction: row;
  float: left;
  margin-left: 415px;
}
