<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Paramètres" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <div class="p-field-checkbox">
                <p-checkbox name="group1" (change)="ProgressBar($event)" ></p-checkbox>
                <label>Show progress bar</label>
                <br/>
                <p-checkbox name="group1" (change)="itemChecked($event)" ></p-checkbox>
                <label>Sort responses in random mode</label>
            </div>
        </div>
        <p style="justify-content: space-between"></p>
        <div class="p-field">
            <h6>The respondent can see the following:</h6>
            <div class="p-field-checkbox">
                <p-checkbox name="group2"  ></p-checkbox>
                <label>Questions with incorrect answers</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group2"  ></p-checkbox>
                <label>Correct answers</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group2"  ></p-checkbox>
                <label>Number of points</label>
            </div>
        </div>
        <div class="p-field">
            <h6>Publish the note:</h6>
            <div class="p-field-radiobutton">
                <p-radioButton name="note" value="option1" inputId="note1"></p-radioButton>
                <label>Immediately after each shipment</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="note" value="option2" inputId="note2"></p-radioButton>
                <label>Later, after manual examination</label>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveConfig()"></button>
    </ng-template>
</p-dialog>


