<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Paramètres" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <div class="p-field-checkbox">
                <p-checkbox name="group1" (change)="ProgressBar($event)" ></p-checkbox>
                <label>Afficher la barre de progression</label>
                <br/>
                <p-checkbox name="group1" value="{{configuration.shuffleOptions}}" (change)="checkCheckBoxvalue($event)" [(ngModel)]="configuration.shuffleOptions" ></p-checkbox>
                <label>Trier les reponses en mode aléatoire</label>
            </div>
        </div>
        <p style="justify-content: space-between"></p>
        <div class="p-field">
            <div class="p-field-checkbox">
                <p-checkbox name="group2" value="{{configuration.shuffleQuestions}}" (change)="checkCheckBoxvalue($event)" [(ngModel)]="configuration.shuffleQuestions" ></p-checkbox>
                <label>Trier les questions en mode aléatoire</label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group2" value="{{configuration.allowBack}}" (change)="checkCheckBoxvalue($event)" [(ngModel)]="configuration.allowBack"  ></p-checkbox>
                <label>Retourner en question précédente </label>
            </div>
            <div class="p-field-checkbox">
                <p-checkbox name="group2" (change)="checkCheckBoxvalue($event)" ></p-checkbox>
                <label>Nombre de points</label>
            </div>
        </div>
        <div class="p-field">
            <h6>Publier la note :</h6>
            <div class="p-field-radiobutton">
                <p-radioButton name="note" value="option1" inputId="note1"></p-radioButton>
                <label>Immédiatement après chaque envoi</label>
            </div>
            <div class="p-field-radiobutton">
                <p-radioButton name="note" value="option2" inputId="note2"></p-radioButton>
                <label>Plus tard, après examen manuel</label>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveConfig()"></button>
    </ng-template>
</p-dialog>


