<div class="p-grid" >
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card" style="background-color: gainsboro">


            <p-table #dt [value]="items" [columns]="cols" [rows]="89" [paginator]="true" [globalFilterFields]="['nom','prenom','number phone','login','commentaire']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption" style="background-color: lavender">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header" >
                        <h5 class="p-m-0">Manage Teachers</h5>
                        <span >
                        <input pInputText type="text"  placeholder="Search By LastName" [(ngModel)]="recommendVo.nom  " style="margin-right: 10px;width: 200px"/>
                        <input pInputText type="text"  placeholder="Search By FirstName" [(ngModel)]="recommendVo.prenom  " style="margin-right: 10px;width: 200px"/>
<button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-info " (click)="findByCriteria()" >

</button>

                    </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="nom">LastName <p-sortIcon field="reference"></p-sortIcon></th>
                        <th pSortableColumn="total">FirstName <p-sortIcon field="total"></p-sortIcon></th>
                        <th pSortableColumn="totalPaye">Username <p-sortIcon field="totalPaye"></p-sortIcon></th>
                        <th pSortableColumn="totalPaye">Comment <p-sortIcon field="totalPaye"></p-sortIcon></th>
                        <th pSortableColumn="totalPaye">Phone Number  <p-sortIcon field="totalPaye"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-prof>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="prof"></p-tableCheckbox>
                        </td>
                        <td>{{prof.nom}}</td>
                        <td>{{prof.prenom}}</td>
                        <td>{{prof.login}}</td>
                        <td>{{prof.commenatire}}</td>
                        <td>{{prof.telephone}}</td>

<td>
    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(prof)">

    </button>
    <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="view(prof)"></button>
</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>

<app-recommend-edit></app-recommend-edit>
        <app-recommend-view></app-recommend-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

