<div class="card">
    <h5>Inscription</h5>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <label for="firstname6">Firstname</label>
            <input id="firstname6" type="text" pInputText [(ngModel)]="etudiant.prenom">
        </div>
        <div class="p-field p-col-12 p-md-6">
            <label for="lastname9">Lastname</label>
            <input id="lastname9" type="text" pInputText [(ngModel)]="etudiant.nom">
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="lastname8">login</label>
            <input id="lastname8" type="text" pInputText [(ngModel)]="etudiant.login">
        </div>
        <div class="p-field p-col-12 p-md-4">
            <label for="Password">Password</label>
            <input pInputText  id="Password"  [(ngModel)]="etudiant.password">
        </div>
        <div class="p-field p-col-12">
            <label for="address">Address</label>
            <textarea id="address" type="text" rows="4" pInputTextarea [(ngModel)]="etudiant.ville"></textarea>
        </div>



        <div class="p-field p-col-12 p-md-3">
            <label class="primaryLab"> Parcours</label>
            <select type="text" class="btn btn-block btn-outline-light form-control"  style="background-color: lightblue" name="Parcours" (click)="findAllParcours()" [(ngModel)]="etudiant.parcours.libelle" style="width: 300px; height: 30px ; border-color: darkgray" >

                <option  selected="selected" *ngFor="let P of parcoursList"  [ngValue]="P.libelle"> {{P.libelle}}</option>

            </select>
        </div>
        <div class="p-field p-col-12 p-md-3">
            <label class="primaryLab"> centre </label>
            <select type="text" class="btn btn-block btn-outline-light form-control"   name="Centre" (click)="findAllCentre()" [(ngModel)]="parcours.centre.ref" style="width: 300px; height: 30px ; border-color: darkgray">
                <option  selected="selected" *ngFor="let c of centreList"  [ngValue]="c.ref"> {{c.libelle}}</option>
            </select>
        </div>

    </div>
    <div class="card-footer" >

        <button pButton pRipple type="button" label="Envoyer" class="p-button-rounded" (click)="save()" ></button></div>
</div>
