<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>


        <div class="card" style="background-color: gainsboro">

            <p-toolbar styleClass="p-mb-4">

                <ng-template pTemplate="left">
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteMultiple()" [disabled]="!selectes || !selectes.length"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-info p-mb-2" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="items" [columns]="cols" [rows]="6" [paginator]="true" [globalFilterFields]="['numeroInscription','datedebutinscription','datefininscription' , 'nom', 'prenom' , 'prof' , 'etatInscription']"
                     [(selection)]="selectes" [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <div class="p-col"> <h5 class="p-m-0">Manage Inscriptions</h5><br>
                        <span >
                        <input pInputText type="text"  placeholder="Search by LastName" [(ngModel)]="selected.nom  " style="margin-right: 10px;width: 200px"/>
                        <input pInputText type="text"  placeholder="Search by FirstName" [(ngModel)]="selected.prenom  " style="margin-right: 10px;width: 200px"/>
                        <input pInputText type="text"  placeholder="Search by UserName" [(ngModel)]="selected.login  " style="margin-right: 10px;width: 200px"/>

             <i class="pi pi-search"  (click)="findByCriteria()"></i>

                    </span></div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="numeroInscription">Registration Number<p-sortIcon field="numeroInscription"></p-sortIcon></th>
                        <th pSortableColumn="datedebutinscription">Registration Start date <p-sortIcon field="datedebutinscription"></p-sortIcon></th>
                        <th pSortableColumn="datefininscription">Registration End date <p-sortIcon field="datefininscription"></p-sortIcon></th>
                        <th pSortableColumn="nom">LastName<p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="prenom">FirstName<p-sortIcon field="prenom"></p-sortIcon></th>
                        <th pSortableColumn="etatInscription">Registration status<p-sortIcon field="etatInscription" ></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inscription>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="inscription"></p-tableCheckbox>
                        </td>
                        <td>{{inscription.numeroInscription }}</td>
                        <td>{{inscription.datedebutinscription}}</td>
                        <td>{{inscription.datefininscription}}</td>
                        <td>{{inscription.nom}}</td>
                        <td>{{inscription.prenom}}</td>
                        <td>{{inscription.etatInscription.libelle}}</td>


                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(inscription)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2" (click)="view(inscription)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="delete(inscription)"></button>


                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{items ? items.length : 0 }} items.
                    </div>
                </ng-template>
            </p-table>
        </div>


        <app-inscription-create></app-inscription-create>

        <app-inscription-edit></app-inscription-edit>

        <app-inscription-view></app-inscription-view>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

