<p-dialog [(visible)]="viewDialog" [style]="{width: '450px'}" header="Session Details" [modal]="true"
          styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="ref">Ref</label>
            <input type="text" pInputText id="ref" [(ngModel)]="selected.reference" disabled/>
        </div>
        <div class="p-field">
            <label for="professor">Professor</label>
            <input type="text" pInputText id="professor" [(ngModel)]="selected.prof.nom" disabled/>
        </div>

        <div class="p-field">
            <label for="student">Student</label>
            <input type="text" pInputText id="student" [(ngModel)]="selected.etudiant.prenom" disabled/>
        </div>
        <div class="p-field">
            <label for="startDate">Start at</label>
            <input type="text" pInputText id="startDate" [(ngModel)]="selected.dateDebut" disabled/>
        </div>

        <div class="p-field">
            <label for="endDate">Professor</label>
            <input type="text" pInputText id="endDate" [(ngModel)]="selected.dateFin" disabled/>
        </div>

        <div class="p-field">
            <label for="duration">Duration</label>
            <input type="text" pInputText id="duration" [(ngModel)]="selected.duree" disabled/>
        </div>



    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text"
                (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
