

<div class="layout-topbar" >

    <a href="#" class="layout-topbar-logo">
        <span id="topbar-logo" style="color: white; font-family: 'Lucida Bright'" ><h1>American Center</h1></span>
    </a>



    <ul  class="topbar-menu"  >
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}">
            <a href="#" >
                <img src="{{this.serviceUser.prof.image}}"   />
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name">{{this.serviceUser.prof.nom}}</span>
                    <span class="layout-profile-role">{{this.serviceUser.prof.prenom}}</span>
                </div>
            </a>
        </li>

        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}" style="margin-top: 4px">
            <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Admin &#9207;</h4></b></span>
                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a [routerLink]="['/pages/login-admin']">
                        <i class="pi pi-fw pi-user"></i>
                        <span >Sign in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/inscriptionAdmin']">
                        <i class="pi pi-fw pi-user-plus"></i>
                        <span >Sign up</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarNotificationMenuActive}" style="margin-top: 4px">
            <a href="#" (click)="appMain.onTopbarNotificationMenuButtonClick($event)" *ngIf="!app.inlineUser">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Teacher &#9207;</h4></b></span>
                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a [routerLink]="['/pages/login-prof']">
                        <i class="pi pi-fw pi-user"></i>
                        <span >Sign in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/inscriptionTeacher']">
                        <i class="pi pi-fw pi-user-plus"></i>
                        <span >Sign up</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarNotificationMenuActive2}" style="margin-top: 4px">
            <a href="#" (click)="appMain.onTopbarNotificationMenuButtonClick2($event)" *ngIf="!app.inlineUser">
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name" style="color: cyan;"><b><h4>Space Student &#9207;</h4></b></span>
                </div>
            </a>
            <ul class="fadeInDown">
                <li>
                    <a [routerLink]="['/pages/login-etudiant']">
                        <i class="pi pi-fw pi-user"></i>
                        <span >Sign in</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/inscriptionEtudiant']">
                        <i class="pi pi-fw pi-user-plus"></i>
                        <span >Sign up</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>

