
<div class=" card">
    <div class="p-grid">
        <div class="p-col">

            <div class="product-grid-item card" style="background-color: gainsboro;">
                <div class="product-grid-item-content" style="cursor: pointer">
                    <div class="product-name" style="margin-bottom: 15px"><h1>-{{this.selectedsection.libelle}}-</h1></div>
                    <iframe *ngIf=" this.selectedsection.libelle != 'Watch the video'" [src]='photoURL()' width="400" height="200" ></iframe>
                    <div ><h3 style="box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); background-color: white;">{{this.selectedsection.contenu}}</h3></div>
                    <div class="product-description"><h6>{{this.selectedsection.indicationProf}}</h6></div>
                    <div class="product-description" style="margin-top: 4px" *ngIf=" this.selectedsection.libelle == 'Watch the video'">
                        <iframe *ngIf=" this.selectedsection.libelle == 'Watch the video'" width="500" height="400" [src]='URLVideo()' ></iframe></div>
                </div>
            </div>

        </div>

        <div class=" p-col" style="width:  400px;height: 200px">

            <p-table  [value]="itemssection2"  [rows]="10" >
                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="libelle" style="text-align: center">Categorie<p-sortIcon field="libelle"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-section>
                    <tr>

                        <td style ="text-align: center" [style.color]="(section.categorieSection.libelle) == (this.selectedsection.categorieSection.libelle)? 'green' :'orange' "  ><u >{{section.categorieSection.libelle}}</u></td>


                    </tr>


                </ng-template>

            </p-table>
            <div class="p-card" style="width: 250px;margin-top: 20px; height: 300px">
        <h1 style="width: 100px;margin-top: 3px; margin-left: 35px">Dictionary</h1><br>
         <span class="p-input-icon-left" style="margin-top: 3px; margin-left: 25px">
             <input type="text" [(ngModel)]="word" style="width: 200px" pInputText placeholder="Search"/>
           <div class="p-col" style="margin-top: 10px"><p-button  (click)="findByWord()" style="margin-left: 60px; margin-top: 10px" >Search</p-button>
             <p-button  (click)="openCreateDict()" style="margin-left: 10px; margin-top: 10px">Add</p-button></div>
            </span>

                   <ng-template pTemplate="content" style="width: 150px; margin-left: 10px" id="dict" >

                        <h4 id="dict1"><u>{{this.selectedDict.word}}</u> : {{this.selectedDict.definition}}</h4>

                    </ng-template>

        </div>
        </div>


    </div>



    <div class="card-footer " >
        <button pButton pRipple type="button" icon="pi pi-caret-left" style="margin-left: 15px; width: 120px" label="Previous"  class="p-button-rounded" *ngIf="this.selectedsection.numeroOrder != 1"  (click)="PreviousSection()" ></button>
        <button pButton pRipple type="button" style="margin-left: 360px; width: 120px" id="quiz" label="{{this.passerQuiz}}" class="p-button-rounded" [routerLink]="quizView? ['/pages/quiz-view']: ['/pages/quiz-etudiant']"></button>
        <button pButton pRipple type="button" icon="pi pi-caret-right" label="Next" style="margin-left: 360px; width: 120px" class="p-button-rounded" *ngIf="this.selectedsection.numeroOrder < this.itemssection2.length" (click)="NextSection()" ></button>
    </div>
    <app-dictionary-create></app-dictionary-create>
</div>
