.home{
	background-color: #fbedff;
	border: solid 5px #bf1fed;
	opacity: 0.8;
	width: 500px;
	font: 20px Garamond;
	margin-left: 250px;
	margin-top: 200px;
}
.home:first-letter{
	font: 50px "Comic Sans MS";
	margin-left: 50px;
}
