<div class="p-formgroup p-col-12" >
    <div class="p-field">
        <h3 class="titleS">Schedule</h3>
    </div>
    <div class="p-col-6">
        <button pButton pRipple (click)="showBasicDialog()" class="p-button-sm p-button-rounded p-button-secondary p-button-outlined p-button-text" icon="pi pi-question" ></button>
        <label style="color: #0c799f;font-weight: bold; font-size: 15px">Instruction</label>
    </div>
</div>
<div class="p-col container">
    <button pRipple pButton class="p-button-sm p-button-outlined p-button-secondary" label="add Student" (click)="openCreate()"></button>
</div>
<div class="p-col" style=" float: left">

    <p-dialog  [(visible)]="displayBasic" [style]="{width: '30vw'}" [baseZIndex]="10000">
        <p>This is the schedule of your part of teaching , the students how are in color green are the students that they are just start the courses, the others how are in color orange are the students active in your courses.</p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>
<div class="p-grid container"  style="text-align:center; margin: 0 auto" >
    <div class="p-col-10" >
        <div class="card " >
            <p-fullCalendar #fc [events]="items" [options]="options"></p-fullCalendar>

            <p-dialog [(visible)]="eventDialog" [style]="{width: '450px'}" header="Event Details" [modal]="true" [closable]="true">
                <ng-template pTemplate="content">
                    <div class="p-fluid">
                        <div class="p-field">
                            <label for="title">Title</label>
                            <input id="title" type="text" pInputText *ngIf="clickedEvent" [(ngModel)]="changedEvent.title" [required]="true">
                        </div>
                        <div class="p-field">
                            <label for="etat">Etat</label>
                            <input id="etat" type="text" pInputText *ngIf="clickedEvent" [(ngModel)]="changedEvent.etat" [required]="true">
                        </div>
                        <div class="p-field">
                            <label for="start">From</label>
                            <p-calendar id="start" *ngIf="clickedEvent" [(ngModel)]="changedEvent.start" [showTime]="true" appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field">
                            <label for="end">To</label>
                            <p-calendar id="end" *ngIf="clickedEvent" [(ngModel)]="changedEvent.end" [showTime]="true" appendTo="body"></p-calendar>
                        </div>
                        <div class="p-field-checkbox">
                            <p-checkbox id="allday" *ngIf="clickedEvent" [(ngModel)]="changedEvent.allday"></p-checkbox>
                            <label for="allday">All Day</label>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
                    <button pButton label="Reset" icon="pi pi-refresh" class="p-button-text" (click)="reset()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>
<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}"  [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="ref">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="selected && selected.etudiant.nom" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selected.etudiant.nom">name is required.</small>
        </div>
        <div class="p-field">
            <label for="ref">Ref</label>
            <input type="text" pInputText id="ref" [(ngModel)]="selected && selected.ref" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selected.ref">ref is required.</small>
        </div>
        <div class="p-field">
            <label for="start">Start</label>
            <p-calendar inputId="start" [showTime]="true" [(ngModel)]="selected && selected.dateDebut" dateFormat="yy-mm-dd"></p-calendar>
            <small class="p-invalid" *ngIf="submitted && !selected.dateDebut">start date is required.</small>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="end">End</label>
                <p-calendar inputId="basic" [showTime]="true" [(ngModel)]="selected && selected.dateFin" dateFormat="yy-mm-dd"></p-calendar>
                <small class="p-invalid" *ngIf="submitted && !selected.dateFin">end date is required.</small>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addEvent()"></button>
    </ng-template>
</p-dialog>
