<p-dialog [(visible)]="viewDialogSection" [style]="{width: '800px'}" header="Section View" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" style="background-color: lavender;">
        <div class="p-field">
            <label for="libelle">Title</label>
            <input type="text" pInputText id="libelle" [(ngModel)]="selectedsection.libelle" disabled />
        </div>
        <div class="p-field">
            <label for="contenu">Content</label>
            <textarea type="text" pInputText id="contenu" [(ngModel)]="selectedsection.contenu" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="questions"> Questions</label>
            <textarea type="text" pInputText id="questions" [(ngModel)]="selectedsection.questions" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="indicationProf">Indication of Teacher's</label>
            <textarea type="text" pInputText id="indicationProf" [(ngModel)]="selectedsection.indicationProf" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="urlImage">url Image </label>
            <textarea type="text" pInputText id="urlImage" [(ngModel)]="selectedsection.urlImage" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="urlVideo">url Video </label>
            <textarea type="text" pInputText id="urlVideo" [(ngModel)]="selectedsection.urlVideo" disabled ></textarea>
        </div>
        <div class="p-field">
            <label for="cours">Course</label>
            <input type="text" pInputText id="cours" [(ngModel)]="selectedsection.cours.libelle" disabled />
        </div>
        <div class="p-field">
            <label for="categorieSection">CategorieSections</label>
            <input type="text" pInputText id="categorieSection" [(ngModel)]="selectedsection.categorieSection.libelle" disabled />
        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideViewDialog()"></button>
    </ng-template>
</p-dialog>
